<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   	<title th:text="${titulo}"></title >
    <meta charset="UTF-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
</head>
<body>
	<!-- Menu -->
	<div th:replace ="fragments/serv_menu :: s_menu">
	</div>
		
	<div class="container">
		<br><br><br>
		<div>
			<h1 class="text_center" th:text="${titulo}"></h1 >
		</div >
			
		<table id="table_id" class="display">
		    <thead >
		        <tr>
		            <th>ID</th>
		            <th>Nombre</th>
		            <th>Password</th>
		            <th>Mail</th>
		            <th>Acciones</th>
		        </tr>
		    </thead>
		    <tbody>
			        <tr th:each=" user: ${users}">>
			        	<th th:tex t="${user.id}" ></th>
			            <td th:text="${user.name}"></td>
			            <td th:text="${user.password}"></td>
			            <td th:text="${user.mail}"></td>
			            <td>
			            	<a th:href="@{/user/editar}">
	  							<img th:src="@{/img/icons/editar.png" 
	  							class="img-responsive img-circle margin" 
	  							style="display:inline" alt="editar" 
	  							width="30" height="30">
			            	</a>
			            	<a class="confirmation" 
			      				th:href="@{/user/eliminar}">
								<img th:src="@{/img/icons/eliminar.png" 
								class="img-responsive img-circle margin"
								style="display:inline" alt="Robot"
								width="30" height="30">
							</a>
			            </td>
		    </tbody>
		</table>
	</div>
		
	<!-- Footer -->
	<div th:replace ="fragments/serv_footer :: s_footer">
	</div>
	
</body>
</html>