<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Vista Previa -->
	<div th:fragment="previa">
		<br><br><br>
		<div class="card"> 
			<div class="card.header">
				 <h1 class="text-center">Bienvenido</h1>
			</div>
			
			<div id="vistaprevia" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<!-- Controls -->
				<div class="carousel-indicators">
    				<button type="button" data-bs-target="#vistaprevia" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    				<button type="button" data-bs-target="#vistaprevia" data-bs-slide-to="1" aria-label="Slide 2"></button>
    				<button type="button" data-bs-target="#vistaprevia" data-bs-slide-to="2" aria-label="Slide 3"></button>
  				</div>
  				
  				<!-- Inner -->
				<div class="carousel-inner">
    				<div class="carousel-item active" data-bs-interval="10000">
      					<img th:src="@{/img/vistas/foto4.jpeg}" class="d-block w-100" alt="Mercado" >
      					<div class="carousel-caption d-none d-md-block">
        					<h5>Mercado</h5>
        					<p>Mercado del puerto de valparaiso.</p>
      					</div>
    				</div>
    				<div class="carousel-item" data-bs-interval="10000">
      					<img th:src="@{/img/vistas/foto5.jpeg}" class="d-block w-100" alt="Personaje Porteño">
      					<div class="carousel-caption d-none d-md-block">
        					<h5>Personaje Porteño</h5>
        					<p>Personaje vagabundo del puerto de Valparaiso.</p>
      					</div>
    				</div>
    				<div class="carousel-item">
      					<img th:src="@{/img/vistas/foto6.jpeg}" class="d-block w-100" alt="Hombre Conectado" >
      					<div class="carousel-caption d-none d-md-block">
        					<h5>Hombre Conectado</h5>
        					<p>Representacion de un hombre conectado en la nueva era.</p>
      					</div>
    				</div>
				</div>
				
				<button class="carousel-control-prev" type="button" data-bs-target="#vistaprevia" data-bs-slide="prev">
    				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    				<span class="visually-hidden">Previous</span>
  				</button>
  				
  				<button class="carousel-control-next" type="button" data-bs-target="#vistaprevia" data-bs-slide="next">
    				<span class="carousel-control-next-icon" aria-hidden="true"></span>
    				<span class="visually-hidden">Next</span>
  				</button>
			</div>
		</div>	
	</div>
		
</body>
</html>