<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
	<!-- Portafolio -->
	<div class="container text-center my-3 py-4" th:fragment="gellery">
		<h2 class="font-weight-light">Portafolio</h2>
		<div id="portafolio" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
			<!-- Objects -->
			<div class="carousel-inner py-4" role="listbox" >
				<div class="carousel-item active" >
					<div class="container" >
						<div class="row">
							<div class="col-lg-4" th:each="obra: ${obras}">
								<div th:replace="object/obra :: obra" >
								</div>
								<br><br>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div th:replace ="object/paginator_nav :: paginator"> </div>
		</div>
	</div>

	<script th:src="@{/js/view_galerry.js}"></script>
</body>

</html>