<html xmlns:th="http://www.thymeleaf.org" />

<head th:replace="layout/public :: head"> </head>

<body>

	<header th:replace="layout/public :: menu"></header>

	<div class="container py-4">

		<div class="text-center py-4" th:fragment="obra">
				<a>
					<img th:if="${#strings.length(obra.foto) > 0}" class="rounded mx-auto d-block"
						style="display:inline;width:80%;" th:src="@{'/gallery/uploads/' + ${obra.foto}}"
						th:alt="${obra.foto}" />
				</a>

				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item list-group-item-dark" th:text="${obra.titulo}"></li>
						<li class="list-group-item" th:text="${obra.dimension}"></li>
						<li class="list-group-item" th:text="${obra.tecnica}"></li>
						<li class="list-group-item" th:text="${obra.disponibilidad}"></li>
					</ul>

					<div>
						<br>
						<a href="#!" class="btn btn-dark">Solicitar</a>
					</div>

				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/public :: footer"></footer>
</body>

</html>