<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/service :: head">
</head>

<body>

	<header th:replace="layout/service :: menu"></header>

	<div class="container py-4" th:fragment="perfil">

		<div class="card">

			<!-- Primer Container -->
			<div class="card py-4">
				<div class="card-header">
					<h1 class="text-center" th:text="${user.nombre}"></h1>
				</div>
				<div class="card-body text-center">
				<img th:if="${#strings.length(perfil.foto) > 0}" class="rounded mx-auto d-block" style="max-width: 80%;"
					th:src="@{'/perfil/uploads/' + ${perfil.foto}}" th:alt="${perfil.foto}" />

				<h3 th:text="${user.profesion}"></h3>
				</div>
					
			</div>

			<!-- Second Container -->
			<div class="card bg-light py-4"> 
			<div class="card-body">
			
			<div class="card-header text-white bg-dark py-4">
					<h3 class="text-center">¿Quien Soy?</h3>
				</div>
				<div class="card-body text-center">
					<p th:text="${perfil.descripcion1}"></p>
				</div>
			</div>
			</div>

			<!-- Third Container (Grid) -->
			<div class="container-fluid bg-dark text-white text-center py-4">
				<h3 class="margin">Una parte de mi historia </h3>
				<br>
				<div class="row py-4">
					<div class="col-sm-4">
						<p th:text="${perfil.descripcion2}"></p>
					</div>
					<div class="col-sm-4">
						<p th:text="${perfil.descripcion3}"></p>
					</div>
					<div class="col-sm-4">
						<p th:text="${perfil.descripcion4}"></p>
					</div>
				</div>
				<!-- Forth Container (Grid) -->
				<div class="row py-4">
					<div class="col-sm-4">
						<img th:src="@{/img/vistas/foto1.jpeg}" class="img-responsive margin"
							style="display:inline;width:250;height:250;" alt="puerto">
					</div>

					<div class="col-sm-4">
						<img th:src="@{/img/vistas/foto2.jpeg}" class="img-responsive margin"
							style="display:inline;width:250;height:250;" alt="mercado">
					</div>
					<div class="col-sm-4">
						<img th:src="@{/img/vistas/foto3.jpeg}" class="img-responsive margin"
							style="display:inline;width:250;height:250;" alt="feria">
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>

	<footer th:replace="layout/service :: footer"></footer>
</body>

</html>