<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="layout/service :: head">
</head >
<body>
	
	<header th:replace ="layout/service :: menu"></header >
		
	<div class="container"> 
	
		<div class="container-fluid bg-1 text-center">
			<br>
	  		<br>
	  		<h3 class="margin">Bienvenido</h3>
	  		<br>
	  		<img th:src="@{/img/icons/robot.png}" class="img-responsive img-circle margin" style="display:inline; max-width: 80%;" alt="Robot">
	  		<h3>Soy AdareLoise</h3>
	  	</div>
	</div>
	<!-- Footer -->
	<footer th:replace ="layout/service :: footer">
	</footer>
	
	<script th:src="@{/js/view_galerry.js}"></script>
</body>
</html>