<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/service :: head">
</head >

<body>
	<!-- header -->
	<header th:replace="layout/service :: menu"></header>

	<div class="container py-4">
	
		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>

			<!-- status -->
			<div class="card-body">
	
				<div class="card-title">
					<p><a th:href="@{/gallery/create}" class="btn btn-success btn-xs">crear obra</a></p>
				</div>

				<table id="table_id" class="display">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titulo</th>
							<th>Disponibilidad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="obra: ${obras}">
							<td><a class="btn btn-primary btn-xs" th:href="@{/gallery/object/} + ${obra.id}"
									th:text="${obra.id}"></a></td>
							<td th:text="${obra.titulo}"></td>
							<td th:text="${obra.disponibilidad}"></td>
							<td>
								<a th:href="@{/gallery/edit/}+ ${obra.id}">
									<img th:src="@{/img/icons/editar.png}" class="img-responsive img-circle margin"
										style="display:inline" alt="edit" width="30" height="30">
								</a>
								<a class="confirmation" th:href="@{/gallery/delete/}+ ${obra.id}">
									<img th:src="@{/img/icons/eliminar.png}" class="img-responsive img-circle margin"
										style="display:inline" alt="delete" width="30" height="30">
								</a>
							</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="layout/service :: footer"></footer>

	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
	<script th:src="@{/js/listar_dtable.js}"></script>

</body>

</html>